* {margin:0;}
html, body {height:100%;padding:0 !important;}
.header {width:100%;}
.wrapper {width:100%;min-height:99%;height:auto !important;height:99%;margin:0 auto -95px;text-align:center;padding-top:6px;}
.footer {width:100%;height:95px;text-align:center;z-index:999;position:relative;background-color:#FFF;}
#Card{border-left:1px solid #000;border-right:3px solid #000;border-top:1px solid #000;border-bottom:3px solid #000;border-radius:11px;-webkit-border-radius:11px;overflow-y:auto;background-color:#F5F5F5;width:80%;margin-left:10%;margin-right:10%;overflow-x:hidden;}
#animation {width:100%;text-align:center;margin:0 auto;display:inline-block;}
#animation-buttons {width:100%;text-align:center;margin:0 auto;display:inline-block;}
#ani-container {display:inline-block;text-align:center;margin:0 auto;}
.ani {float:left;display:inline-block;text-align:center;margin:0 auto;}
.div-btn {float:left;display:inline-block;text-align:center;margin:0 auto;}
a.btn-stroke-order{margin-left:0.25em;margin-right:0.25em;}
button.btn-audio{margin-left:0.5em;margin-right:0.5em;margin-top:0.5em;}
#Pinyin, #English, #PartofSpeech{text-align:center;font-size:1.7em;width:98%;}
#Pinyin{font-weight: bold;}
#Views {text-align:center;font-size:1.05em;color:#6f93c3;width:100%;padding-top:0em;}
#footCenter{color:#B0C4DE;font-size:1.25em;margin-left:0.5%;margin-right:0.5%;}
.btn-huge {font-size:125% !important;margin:.25em !important;min-width:2.75em !important;padding:.225em !important;}
.pyn {color:purple;}
.pos {color:#B0C4DE;display:none;}
.posTab {color:#B0C4DE;}
p.chk {margin-top:12px;}
#List{display:none;overflow:auto;border:1px solid #DCDCDC;}
#listTab{border-bottom:1px solid #DCDCDC;}
@media all and (min-width:769px) {
	#Card{width:60% !important;margin-left:20% !important;margin-right:20% !important;height:32em !important;}
	#List{width:60%;margin-left:20%;margin-right:20%;margin-top:32px;height:40em;overflow:auto;}	
}
@media all and (min-width:621px) and (max-width:768px) {
	#Card{width:80% !important;margin-left:10% !important;margin-right:10% !important;height:42em !important;}
	#List{width:70%;margin-left:15%;margin-right:15%;margin-top:32px;height:42em;overflow:auto;font-size:125% !important;}	
}
@media all and (max-width:620px) {
	#Card{width:95% !important;margin-left:2.5% !important;margin-right:2.5% !important;height:26em !important}
	#List{width:100%;margin-left:0%;margin-right:0%;margin-top:6px;height:35em;}	
}
.loader {
	position:absolute;left:50%;top:45%;
	z-index:1;
	width:150px;height:150px;
	margin:-75px 0 0 -75px;
	border-radius:50%;
	border-bottom:10px solid #ECDB54;border-top:10px solid #6B5B95;
	border-left:10px solid #E94B3C;border-right:10px solid #BFD641;
	width:120px;height:120px;
	-webkit-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
	display:none;
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg);}
	100% { -webkit-transform:rotate(360deg);}
}
@keyframes spin {
	0% { transform:rotate(0deg);}
	100% { transform:rotate(360deg);}
}
td:nth-child(1) {width:7%;font-size:80%;padding:0px 0px 0px 2px !important;}
td:nth-child(2) {width:18%;font-size:120%;padding:0px 0px 0px 0px !important;}
td:nth-child(3) {width:25%;padding:0px 0px 0px 0px !important;}
td:nth-child(4) {width:50%;padding:0px 0px 0px 0px !important;}
.tone1 {color: red;}
.tone2 {color: green;}
.tone3 {color: blue;}
.tone4 {color: purple;}
.tone5 {color: gray;}
#audio_player_container {display:none;}
.table-borderless{border:none !important;}
.table-borderless td{border:none !important;}
svg {display:inline-block !important;margin:0 auto !important;text-align: center !important;}
#copied-container {position: absolute; left: 50%;}
#copied {display: none; font-size: 1.5em; background-color:#DCDCDC; position: relative; left: -50%; margin-top: 10%; opacity: 0.95; filter: alpha(opacity=95);}
